#start {

  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: center;
  gap: var(--gap, var(--space-s));

  .student-grid {
    display: none;
    gap: 0.25em;
    width: 100%;
    gap: 1em;
    /* transform: translateX(calc(-1 * var(--space-l))); */
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    > div {
      aspect-ratio: 1/0.866;
      /* aspect-ratio: 1/1; */
      clip-path: polygon(var(--polygon));

      background-image: var(--bg-url);
      background-size: cover;
      background-position: var(--bg-offset);
      background-repeat: no-repeat;
    }
  }

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    line-height: 1;
  }
  @media screen and (min-width: 960px) {
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content 4fr;
    .tri {
      display: none;
    }
    .student-grid {
      display: grid;
    }
    header {
      text-align: start;
    }
  }
}

.logo {
  line-height: 0.75;
  text-transform: uppercase;
  text-align: center;
  span {
    font-size: 2.6em;
  }
}
