.view {
  height: 100%;

  --spacing: 1em;
  &.flex {
    gap: var(--spacing);
    flex-direction: column;
    > * {
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }
  &:not(.flex) {
    > * {
      margin-top: var(--spacing);
      min-height: 100%;
    }
  }
  > * {
    @apply p-2xs;
  }
}
