{% macro person(student) %}

    <div class="card"  w:w="max-xl">
        {% studentImage student %}
        <h3>
            {{student.fnamn}}
            <br>
            {{student.enamn}}
        </h3>
        <button>Läs mer</button>
    </div>

{% endmacro %}