{% macro person(student, env) %}
    <div class="card"  w:w="max-xl">
        {% if env == "production" %}
            {% studentImage student %}
        {% else %}
            <img src="/assets/img/{{(student.fnamn + '-' + student.enamn) | slug}}.jpg" alt="">
        {% endif %}
        <h3>
            {{student.fnamn}}
            <br>
            {{student.enamn}}
        </h3>
        <button>Läs mer</button>
    </div>
{% endmacro %}