{% macro person(student, env) %}
    <div class="card"  w:w="max-xl">
        {% set studentSlug = (student.fnamn + '-' + student.enamn) | lower %}
        {% if env == "production" %}
            {% image 'students',
            studentSlug,
            'bla' %}
        {% else %}
            <img src="/assets/img/students/{{studentSlug}}.jpg" alt="">
        {% endif %}
        <h3>
            {{student.fnamn}}
            <br>
            {{student.enamn}}
        </h3>
        <button>Läs mer</button>
    </div>
{% endmacro %}