{% macro tri(r, m = 0) -%} {% set rot = 'transform: rotate(' + r + 'deg)'
if r else '' -%}
<span
  style="pointer-events: none;margin-inline-start: {{ m }}em; {{
    rot
  }} translateY(-1px);display: inline-block;"
>&blacktriangleleft;</span>
{%- endmacro %}
