{% macro tri(r, m = 0) -%}
  {% set rot = 'rotate(' + r + 'deg)' if r else '' -%}
  {% set transform = 'transform: ' + rot + 'translateY(-0.1ex);' -%}
  <span
  style="pointer-events: none;margin-inline-start: {{ m }}em; {{
    transform
  }} display: inline-block;"
>&blacktriangleleft;</span>
{%- endmacro %}