@import "props/";
@import "composition/";
@import "block/";
@import "utilities/";

@font-face {
  font-family: forma-djr-text;
  src: url("/assets/fonts/pjr-light.woff2") format("woff2"),
    url("/assets/fonts/pjr-light.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: forma-djr-text;
  src: url("/assets/fonts/pjr-medium.woff2") format("woff2"),
    url("/assets/fonts/pjr-medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: forma-djr-text;
  src: url("/assets/fonts/pjr-bold.woff2") format("woff2"),
    url("/assets/fonts/pjr-bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}


