{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title or metadata.title}}</title>
        <link rel="stylesheet" href="https://use.typekit.net/bqb5gxu.css">
        <link 
            rel="stylesheet" 
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />
        <script 
            src="https://kit.fontawesome.com/4e48aa3ca2.js" 
            crossorigin="anonymous">
        </script>
        {% if build.env == "production" %}
            {% viteLinkStylesheetTags "src/client/main.js" %}
            {% viteLinkModulePreloadTags "src/client/main.js" %}
        {% endif %}
    </head>
    <body w:h="screen" w:flex="~ col" w:overflow="hidden" w:p="2">
        {% include "partials/header.njk" %}
        {% include "partials/main.njk" %}
        {% if build.env == "production" %}
            {% viteScriptTag "src/client/main.js" %}
        {% else %}
            <script type="module" src="http://localhost:3000/@vite/client"></script>
            <script type="module" src="http://localhost:3000/src/client/main.js"></script>
        {% endif %}

        <script 
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
        </script>
    </body>
</html>