<section id="sponsorer" w:text="accent" w:m="y-xl">
  <div class="grid-wrapper" w:grid="gap-l" w:justify="center sm:between" w:align="items-center">
    <a href="https://dalarna.digital/" style="--correct: 1.1">
      <svg viewBox="0 0 1736 87" color="#00040C" class="dark:text-[#f2f6ff]">
        <use href="/assets/svg/sponsor-loggor/dalarna-digital.svg#logo"/>
      </svg>
    </a>

    <a href="https://www.falun.se/kulturhuset-tio14.html">
      <svg viewBox="0 0 1265 461">
        <use href="/assets/svg/sponsor-loggor/tio14.svg#logo"/>
      </svg>
    </a>
    <a href="https://www.pitchers.se/">
      <svg viewBox="0 0 1138 528" >
        <use href="/assets/svg/sponsor-loggor/pitchers.svg#logo"/>
      </svg>
    </a>

    <a href="https://lykta.com/">
      <svg viewBox="0 0 1344 650">
        <use href="/assets/svg/sponsor-loggor/lykta-produktion.svg#logo"/>
      </svg>
    </a>
    <a href="https://printeliten.se/" style="--correct: 0.75">
      <svg viewBox="0 0 671 801"  >
        <use href="/assets/svg/sponsor-loggor/printeliten.svg#logo"/>
      </svg>
    </a>
    <a href="https://humblebrag.se/">
      <svg viewBox="0 0 1316 193" >
        <use href="/assets/svg/sponsor-loggor/humblebrag.svg#logo"/>
      </svg>
    </a>

    <a href="https://www.restaurangbasta.se/">
      <div>
        <img w:w="full" w:h="full" src="/assets/svg/sponsor-loggor/basta.jpg" alt="">
      </div>
    </a>

    <svg viewBox="0 0 852 679" paket="guld" color="#222221" class="dark:text-[#fff]">
      <use href="/assets/svg/sponsor-loggor/borlange-kommun.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1929 187" paket="guld" style="--correct: 1.25">
      <use href="/assets/svg/sponsor-loggor/fiskarhedenvillan.svg#logo"/>
    </svg>

  </div>
</section>