<section id="sponsorer" w:text="accent" w:m="y-xl">
  <div class="grid-wrapper" w:grid="gap-s" w:justify="center" w:align="items-center">
    <svg viewBox="0 0 304 362">
      <use href="/assets/svg/sponsor-loggor/printeliten.svg#logo"/>
    </svg>
    <svg viewBox="0 0 604 221">
      <use href="/assets/svg/sponsor-loggor/tio14.svg#logo"/>
    </svg>
    <svg viewBox="0 0 284 226">
      <use href="/assets/svg/sponsor-loggor/borlange-kommun.svg#logo"/>
    </svg>
    <svg viewBox="0 0 774 360">
      <use href="/assets/svg/sponsor-loggor/pitchers.svg#logo"/>
    </svg>
    <svg viewBox="0 0 825 400">
      <use href="/assets/svg/sponsor-loggor/lykta-produktion.svg#logo"/>
    </svg>
    <svg viewBox="0 0 568 83">
      <use href="/assets/svg/sponsor-loggor/humblebrag.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1150 112">
      <use href="/assets/svg/sponsor-loggor/fiskarhedenvillan.svg#logo"/>
    </svg>

    <svg viewBox="0 0 1242.000000 622.000000">
      <use href="/assets/svg/sponsor-loggor/basta.svg#logo"/>
    </svg>
    <svg viewBox="0 0 463 24" paket="guld">
      <use href="/assets/svg/sponsor-loggor/dalarna-digital.svg#logo"/>
    </svg>
  </div>
</section>