<section id="sponsorer" w:text="accent" w:m="y-xl">
  <div class="grid-wrapper" w:grid="gap-l" w:justify="center" w:align="items-center">
    <svg viewBox="0 0 671 801"  >
      <use href="/assets/svg/sponsor-loggor/printeliten.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1265 461">
      <use href="/assets/svg/sponsor-loggor/tio14.svg#logo"/>
    </svg>
    <svg viewBox="0 0 852 679" color="#222221" class="dark:text-[#fff]">
      <use href="/assets/svg/sponsor-loggor/borlange-kommun.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1138 528" >
      <use href="/assets/svg/sponsor-loggor/pitchers.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1344 650">
      <use href="/assets/svg/sponsor-loggor/lykta-produktion.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1316 193" >
      <use href="/assets/svg/sponsor-loggor/humblebrag.svg#logo"/>
    </svg>
    <svg viewBox="0 0 1929 187" >
      <use href="/assets/svg/sponsor-loggor/fiskarhedenvillan.svg#logo"/>
    </svg>
    {# <svg viewBox="0 0 1242.000000 622.000000" >
      <use href="/assets/svg/sponsor-loggor/basta.svg#logo"/>
    </svg> #}
    <div><img w:w="full" w:h="full" src="/assets/svg/sponsor-loggor/basta.jpg" alt=""></div>
    <svg viewBox="0 0 1736 87" paket="guld" color="#00040C" class="dark:text-[#f2f6ff]">
      <use href="/assets/svg/sponsor-loggor/dalarna-digital.svg#logo"/>
    </svg>
  </div>
</section>