<section id="vernissage" w:flex="shrink-0" class="flex flex-col gap-2xl md:gap-l justify-center">

    <div class="[ vernissage ][ flex flex-col gap-s ]">
        <article class="[ vernissage-txt ] [ flex-grow flow ]">
            <h2>När är vernissagen?</h2>
            <p>
                Vernissagen kommer att ske vid Kulturhuset tio14 den <time datetime="2022-06-01" w:font="medium">1 Juni 2022</time> från klockan {{info.tid.from}} till {{info.tid.to}}.            
            </p>
            <p>Adress:
                <a class="underline" target="_blank" href="https://www.google.com/maps/place/Stiftelsen+L%C3%A4nsteatern+i+Dalarna+(Dalateatern)/@60.6040063,15.6294313,17z/data=!3m1!4b1!4m5!3m4!1s0x46677076bca19b21:0xab32496f69b4c6cf!8m2!3d60.6040037!4d15.6316201?hl=sv">{{info.adress}}, 791 62 Falun</a>
            </p>
        </article>
        <div class="[ vernissage-img ] [ h-[20rem] min-w-[50%] z-0 ]">
            <div id="map"></div>
        </div>
    </div>

    <div  class="[ vernissage ][ flex flex-col gap-s ]">
        <article class="[ vernissage-txt ] [ flex-grow flow ]">
            <h2 w:text="" class="" >Kan du inte närvara?</h2>
            <p>Oroa dig inte. Utställningen släpps även i ett digitalt format, men vi ser helst att du vill komma och besöka oss på vernissaget. Den digitala utställningen släpps i samband med att vernissagen startar.</p>
            {# <button class="[ btn-light-inactive ] [ mt-3 hidden md:block ]">till vernissagen</button> #}
            {# <p class="[ btn-info ] [ mt-1 hidden md:block ]">Startar 1 Juni 2022 kl 15:00</p> #}
        </article>
        <div class="[ vernissage-img ] [ h-[20rem] min-w-[50%] relative ]">
            {# {% if build.env == 'production' %}
                {% image 'img', 'digital-vernissage.jpg', 'Image of a part of the digital vernissage'%}
            {% else %}
                <img 
                class="object-cover h-full w-full" 
                src="/assets/img/digital-vernissage.jpg" 
                alt="map of location"
            >
            {% endif %} #}
            <iframe id="artstep" loading="lazy" width="1280" height="720" src=""  frameborder="0" allowfullscreen></iframe>
            {# <div class="[ timer ] [ text-primary-perm flex absolute inset-x-0 bottom-0 justify-center ]">
                <div class="timer-deadline px-1" >
                    <p class="timer-deadline-txt">
                        <span></span></p>
                </div>
                <div class="timer-deadline px-1 md:px-3">
                    <p class="timer-deadline-txt">: <span></span></p>
                </div>
                <div class="timer-deadline px-1 md:px-3">
                    <p class="timer-deadline-txt">: <span></span></p>
                </div>
                <div class="timer-deadline px-1 md:px-3">
                    <p class="timer-deadline-txt">: <span></span></p>
                </div>
            </div> #}
            {# <p class="md:hidden" w:m="t-xs">Startar 1 Juni 2022 kl {{info.tid.from}}</p> #}
        </div>
    </div>
</section>