#studentGrid > * > button {
  display: none;
}

@screen sm {
  #studentGrid > * > {
    button,
    .button {
      display: block;
      width: 100%;
      padding-top: var(--space-3xs);
      padding-bottom: var(--space-3xs);
    }
  }
}

button,
.button {
  &:not(.hamburger) {
    border-radius: 3px;
    @apply border-accent;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    @apply px-s;
  }
}
button,
.button {
  &:not(.hamburger) {
    &:hover {
      @apply bg-accent text-primary shadow-s;
    }
  }
}

.btn-light-inactive {
  padding: 0.5rem 1rem;
}

.btn-info {
  font-size: 1rem;
}

// PERSONSIDA
// tillbaka top av screen
.back {
  margin-left: -8px;
  width: 100px;
}
// Tillbaka bottom av screen
.back-2 {
  margin-left: -8px;
}
// Next bottom av screen
.next {
  margin-right: -8px;
}
