---
layout: layouts/base.njk
title: designexit 
---

{% import 'macros/triangle.njk' as tri %}
<section id="start" w:grid="gap-s" class="justify-items-center">
  <svg
  w:grid="row-start-2 row-span-2 col-start-2"
    class="tri"
    w:h="max-[30rem]"
    viewBox="0 0 1000 866"
    preservAspectRatio="xMidYMin">
    {{ tri.right(8) }}
  </svg>
  <header class="row-start-2 h-max text-left" >
    <h1 class="text-center uppercase w-max leading-[0.66] "> designexit <br/>
      <span class="text-[2.5em]">2022</span>
    </h1>
    <p>Vernisage <time datetime="2022-06-01">1 Juni 2022</time>
    </p>
  </header>
</section>
{% include "partials/about.njk" %}
{% include "partials/vilkaarvi.njk" %}
{% include "partials/vernissage.njk" %}