---
layout: layouts/base.njk
pagination:
  data: studenter
  size: 1
  alias: student
  addAllPagesToCollections: true
permalink: "/student/{{(student.fnamn + '-' + student.enamn) | slug}}/"
---

{% set studentSlug = (student.fnamn + '-' + student.enamn) | slug %}
{% set
alster = student.alster() %}

{# small font triangle #}
{% import "macros/smol-tri.njk" as smol %}

<section id="personligsida" w:flex="~ col" w:grid="gap-s" w:p="y-xl" class="">

    {# tillbaka #}
    <a
        href="/"
        id="tillbaka"
        onclick="
        event.preventDefault()
        history.pushState('student',null,'/#{{ studentSlug }}')
        location.reload()">
        {{smol.tri()}}tillbaka
    </a>

    {# student #}
    <div id="student-wrapper" w:grid="gap-2xs">

        {# namn #}
        <h2 w:md="col-start-2 row-start-1" w:grid="col-start-1">
            {{ student.fnamn }}
            {{ student.enamn }}
        </h2>

        {# portrait #}
        <img
        style="aspect-ratio: 1/1"
        w:w="full"
        w:object="cover"
        w:md="col-start-1 row-start-1 row-span-3 "
        src="/assets/alster/{{ studentSlug }}/portrait.png"
        alt="Porträtt av {{student.fnamn}} {{student.enamn}} med en triangel som bakgrund"/>

        {# beskrivning #}
        <p w:md="col-start-2 row-start-2">{{ student.beskrivning }}</p>

        {# alster #}
        <ul id="alster-wrapper" w:grid="gap-3xs" w:md="row-start-3 col-start-2 row-span-3" aria-label="portfolio">
            {% for alst in alster %}
                <li w:pos="relative">
                    <a href="#alster{{loop.index}}" w:pos="absolute" w:w="full" w:h="full" ></a>
                    <img id="alster{{loop.index}}" src="/assets/{{ alst }}" alt="Ett alster"/>
                    <a href="#" w:pos="absolute right-s top-s" w:text="xl" w:font="leading-[0]" w:bg="ternary" w:display="hidden">&Cross;</a>
                </li>
            {% endfor %}
        </ul>

        {# socials #}
        {% set links = student.links %}
        <div id="socials" w:md="col-start-1 row-start-4">
            <h3>Se mer av {{ student.fnamn }}</h3>
            {% for name, href in links | socials %}
                {% if href %}
                    <a href="{{ href }}">{{ name }}</a>
                {% endif %}
            {% endfor %}
            {# hemsida #}
            {% if links.hemsida %}
                <br/>
                <span>hemsida{{smol.tri(r=180)}}
                    <a w:text="underline-1 underline" href="{{ links.hemsida }}">{{links.hemsida}}</a>
                </span>
            {% endif %}
        </div>
    </div>

    {# nav #}
    <nav w:w="full" w:flex="~" w:justify="between">
        {# prev #}
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">
                {{smol.tri()}}föregående</a>
        {% endif %}
        {# next #}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" class={{"ml-auto" if not pagination.href.previous else ""}}
        >nästa{{smol.tri(r=180)}}</a>
        {% endif %}
    </nav>
</section>