body > header {
  position: relative;
  &::after {
    position: absolute;
    content: attr(data-current);
    // background-color: black;
    @apply bg-accent;
    @apply px-2;
    @apply py-1;
    // color: white;
    @apply text-primary;
    letter-spacing: 0.5ch;
    bottom: 0;
    font-weight: 300;
  }
}
#site-nav {
  > ol {
    transition: top;
    transition-duration: 125ms;
  }
  [data-menu-state="open"] & > ol {
    top: 0;
    opacity: 1;
  }
}
[data-menu-state="open"] main {
  overflow-y: hidden;
}

main {
  scroll-behavior: smooth;
}
