body > header {
  position: relative;
  &::after {
    position: absolute;
    content: attr(data-current);
    text-transform: uppercase;
    line-height: 1;
    @apply bg-accent;
    padding: 0.5em 0.25em 0.25em 0.5em;
    @apply text-primary;
    letter-spacing: 0.5ch;
    bottom: 0;
    font-weight: 300;
  }
}
#site-nav {
  > ol {
    transition: top;
    transition-duration: 125ms;
  }
  [data-menu-state="open"] & > ol {
    top: 0;
    opacity: 1;
  }
}
[data-menu-state="open"] main {
  overflow-y: hidden;
}
[data-menu-state="open"] {
  pointer-events: none;
}

main {
  scroll-behavior: smooth;
}
