#student-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  @screen md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content auto min-content 1fr;
  }
}

#alster-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  > li {
    width: 100%;
    height: 100%;
    @supports (aspect-ratio: 1/1) {
      aspect-ratio: 1/1;
      height: auto;
    }
    div {
      width: 100%;
      height: 100%;
    }
  }
  @screen md {
    grid-template-columns: repeat(3, 1fr);
  }
  img,
  video {
    pointer-events: none;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  :target {
    @apply bg-primary/90;
    > a:first-of-type {
      display: none;
    }
    > a:last-of-type {
      display: block;
    }
    > nav {
      display: flex;
    }
    > div {
      // @apply py-l
      max-width: 60rem;
      width: 85%;
      margin: 0 auto;
    }
    object-fit: contain;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    img,
    video {
      pointer-events: all;
      object-fit: contain;
    }
    // @apply p-m2xl;
  }
}
