#sponsorer {
  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    > * {
      flex-basis: 225px;

      &[paket="guld"] {
        flex-basis: 120px;
      }
    }
  }
}
