#start {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr min-content max-content 4fr;
}

#start {
  header {
    display: flex;
    flex-direction: column;
    line-height: 1;
    @media screen and (max-width: 512px) {
      writing-mode: vertical-lr;
      align-items: flex-start;
      h1 {
        order: 1;
      }
      p {
        display: none;
      }
    }
  }
}

.logo {
  line-height: 0.75;
  text-transform: uppercase;
  text-align: center;
  span {
    font-size: 2.6em;
  }
}
