.student {
  display: grid;
  column-gap: 1rem;

  width: min(85rem, 100%);
  margin: 0 auto;
}

.student > .portrait {
  display: flex;
  flex-direction: column;
}
.student > h2 {
  grid-row: 1;
}

.student > .socials {
  grid-row-start: 5;
}

@screen md {
  .student {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto 1fr auto auto;
  }
  .student > .portrait {
    grid-column: 1;
    grid-row: 1;
    grid-row-end: span 2;
  }
  .student > .alster {
    grid-column: 2;
    grid-row-start: 4;
    grid-row-end: span 2;
    grid-column: 2;
  }

  .student > .socials {
    grid-row: 3;
  }
  .student > h2 {
    grid-row: 1;
    grid-column: 2;
  }
  .student > p {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
}

#light {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}
html.fullscreen #light {
  background-color: hsl(var(--primary) / 0.85);
  pointer-events: all;
}

.alster ul {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  > li {
    width: 100%;
    height: 100%;
    @supports (aspect-ratio: 1/1) {
      aspect-ratio: 1/1;
      height: auto;
    }
    div {
      width: 100%;
      height: 100%;
    }
  }
  @screen md {
    grid-template-columns: repeat(3, 1fr);
  }
  img,
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.alster ul img {
  height: 100%;
  cursor: pointer;
}

html.fullscreen .gallery {
  display: grid;
}

.gallery {
  z-index: 100;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: none;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  pointer-events: none;
  display: none;
}
.gallery > .content {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 0.5rem;
}
.gallery > .content > div:nth-child(2) {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0 auto;
  > img {
    margin: auto auto;
    width: 100%;
  }
}
.gallery > svg {
  pointer-events: all;
  cursor: pointer;
  justify-self: end;
  grid-column: 1;
  grid-row: 1;
}
.gallery [data-target] {
  pointer-events: all;
  cursor: pointer;
}
.gallery [data-target] * {
  pointer-events: none;
}
.gallery[data-position="first"] [data-target="prev"] {
  opacity: 0;
  pointer-events: none;
}
.gallery[data-position="last"] [data-target="next"] {
  opacity: 0;
  pointer-events: none;
}
.gallery > div {
  display: flex;
  align-items: center;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
  align-self: center;
  object-fit: contain;
}

@screen max-md-landscape {
  .gallery .content > div {
    // height: 100%;
  }
  .gallery .content > div img {
    width: auto;
    margin: 0 auto;
    height: 100%;
  }
}
.social {
  --gap: 0.5em;
}

.row {
  display: flex;
  gap: var(--gap, 1em);
}
