.flow {
  > * + * {
    margin-top: var(--step-1, 1em);
  }
  &.cramp {
    > * {
      max-width: 100%;
      width: 70rem;
      @apply px-s;
    }
  }
  &.grow {
    > * {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      @apply p-sm;
    }
  }
}
