<section class="flex gap-s p-s items-center">
    <div class="flex items-end">
        <div class="[ about-txt ] [ flex flex-col flow flex-grow justify-center ]">
            <article>
                <h2>Vad är Designexit?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci eu lobortis elementum nibh. Vulputate sapien nec sagittis aliquam malesuada.</p>
            </article>
            <article>
                <h2>Årets tema</h2>
                <p>Låt oss presentera årets koncept: Triangeln! En av de grundläggande geometriska formerna som symboliserar balans, tillväxt och stabilitet. Den avskalade designen kan vid första anblick upplevas simpel, men under utbildningen har vi lärt oss att göra det enkla betydelsefullt. Lagren på triangeln symboliserar all den kunskap vi samlat på oss genom utbildningen och dess centrum bli ett blickfång där vi skymtar ”ljuset i tunneln” eller examen.</p>
            </article>
        </div>
        <div class="[ about-img ] [ flex flex-shrink-0 basis-[50%] md:block hidden justify-center ]">
            <img src="assets/triangeldesignexit_Svart.svg" alt="">
        </div>
    </div>
</section>