<header w:p="b-2xs" w:flex="~" w:align="items-center" w:border="b-2 accent">
  <div w:display="hidden" class="logo">LOGO</div>
  <nav w:m="l-auto" id="site-nav">
    <button
      onclick="
    const parent = event.target.parentElement
    const state = parent.dataset.menuState
    
    state ? parent.dataset.menuState = '' : parent.dataset.menuState = 'open'
    "
    >
      <svg
        width="2rem"
        height="2rem"
        viewBox="0 0 32 16"
        preservAspectRatio="xMidYMid"
        style="pointer-events: none"
      >
        <g stroke="black" stroke-width="2">
          <line x1="0" x2="100%" y1="0" y2="0"/>
          <line x1="0" x2="100%" y1="8" y2="8"/>
          <line x1="0" x2="100%" y1="16" y2="16"/>
        </g>
      </svg>
    </button>
    <ol>
      <li>
        <a href="">Start</a>
      </li>
      <li>
        <a href="">Vad är Designexit</a>
      </li>
      <li>
        <a href="">Vilka är vi</a>
      </li>
      <li>
        <a href="">Vernisage</a>
      </li>
    </ol>
  </nav>
</header>