<section class="vilkaarvi">
    <h1>Vilka är vi?</h1>
    <div class="content grid grid-flow-row sm:grid-cols-4 gap-2xs">
        
        <div class="card"  w:w="max-sm">
            <img src="/assets/amanda.jpg" alt="porträtt av amanda">
            <h3>Amanda Sellberg</h3>
            <button>Läs mer</button>
            <hr w:w="20">
        </div>

        <div class="card"  w:w="max-sm">
            <img src="/assets/berfin.jpg" alt="porträtt av berfin">
            <h3>Berfin Kosmaz</h3>
            <button>Läs mer</button>
            <hr w:w="20">
        </div>

        <div class="card"  w:w="max-sm">
            <img src="/assets/cissi.jpg" alt="porträtt av cissi">
            <h3>Cecilia Fredriksson</h3>
            <button>Läs mer</button>
            <hr w:w="20">
        </div>

        <div class="card"  w:w="max-sm">
            <img src="/assets/klas.jpg" alt="porträtt av klas">
            <h3>Klas Gråhns</h3>
            <button>Läs mer</button>
            <hr w:w="20">
        </div>

        <div class="card"  w:w="max-sm">
            <img src="/assets/marcus.jpg" alt="porträtt av marcus">
            <h3>Marcus Aldrin</h3>
            <button>Läs mer</button>
            <hr w:w="20">
        </div>

    </div>
</section>